@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  gap: 36px;
  background-color: #3a4f7a;
}

#first-button,
#reset-button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ffc6d3;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #ffc6d3;
  background-color: #3a4f7a;
  font-size: 20px;
}

#first-button:hover,
#reset-button:hover {
  cursor: pointer;
  background-color: #ffc6d3;
  color: #3a4f7a;
}

#reset-button {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
